# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore BlueJ files
*.ctxt

# Ignore Mobile Tools for Java (J2ME) temporary files
.mtj.tmp/

# Ignore virtual machine crash logs
hs_err_pid*
replay_pid*